<header class="site-header">
    <div class="header-inner">

        <a class="site-logo" href="{{ "/" | relURL }}">
            ON3EFI
        </a>

        <nav class="site-nav">
            <a href="{{ "/" | relURL }}">Home</a>
            <a href="{{ "/radio/" | relURL }}">Radio</a>
            <a href="{{ "/projects/" | relURL }}">Projects</a>
            <a href="{{ "/linux/" | relURL }}">Linux</a>
            <a href="{{ "/logbook/" | relURL }}">Logbook</a>
            <a href="{{ "/about/" | relURL }}">About</a>
        </nav>

    </div>
</header>
